@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif";
  font-size: 18px;
  color: #262626;
}

body {
  background-color: #c2c2c2;
}
h1 {
  font-size: 2rem;
  padding: 10px;
  background-color: #a4a4a4;
}
h2 {
  font-size: 1rem;
}

p {
  padding: 10px;
}

textarea {
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  resize: none;
}
.dataContainer {
  display: flex;
  row-gap: 30px;
  flex-flow: column;
  min-height: 100vh;
  align-items: center; 
}

.postBox {
  display: flex;
  width: 600px;
  min-height: 600px;
  flex-flow: column;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  background-color: #dedede;
}

.postBox.shortDesc {
  min-height: 100px;
}

.postBox.shortDesc h1{
  font-size: 1.4rem;
}
.dataContainer.inDetail{
  row-gap: 10px;
}
.dataContainer button {
  width: 120px;
  align-self: center;
  justify-self: end;
}

.commentContainer {
  min-height: auto;
}

.commentBox {
  display: flex;
  width: 600px;
  padding: 10px;
  flex-flow: column;
  overflow: hidden;
  border-radius: 8px;
  text-align: left;
  background-color: #e8f8ffa1;
}

.subComment {
  padding: 10px 20px;
  margin: 10px;
  background-color: #919ea341;

}

.postNav {
  display: flex;
  opacity: 0.9;
}
.cm-btns{
  display: flex;
  justify-content: flex-end;
}

.cm-btns button {
  font-size: 12px;
  width: 50px;
  margin: 0 4px;
}

/* new post page */
body {
  align-items: center;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 700px;
  padding: 20px;
  width: 520px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: -20px;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 300px;
 outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
#bodyInput {
  margin: 0;
  height: 300px;
}